body {
    background-color: black;
    height: 100%;
}

h1 {
    color: red;
}

.toggle_menu {
    float: left;
    margin-left: 8%;
    border-right: 0.5px solid white;
    height: 130vh;
}

.current {
    color: white;
    font-size: 24px;
}

.next {
    color: white;
    font-size: 24px;
}