<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <title>The Movie DB</title>

    <script>
        function toggle_content(id) {

        }
    </script>
</head>

<body>
    <h1>THE MOVIE DB</h1>
    <div class="toggle_menu">
        <div>
            <a class="current" id="homepage" onclick="toggle_content(this.id);" style="color: white; font-size: 24px;">Home</a>
        </div>
        <hr style="width: 99%; text-align: left; margin-left: 0%;">
        <div>
            <a class="next" id="searchpage" onclick="toggle_content(this.id);" style="color: white; font-size: 24px;">Search</a>
        </div>
    </div>

</body>

</html>